{% extends "base.html" %}
{% block title %}个人中心{% endblock %}
{% block ones_act %}active{% endblock %}
{% block table_title %}<h3>我参与的活动</h3>{% endblock %}
{% block table_content %}
<thead>
    <tr>
        <th>#</th>
        <th>活动名称</th>
        <th>活动人数</th>
        <th>活动开始日期</th>
        <th>活动结束日期</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% if part_acts_list %}
    {% for act in part_acts_list %}
    <tr>
        <td>{{ act.activity_ID }}</td>
        <td>{{ act.name }}</td>
        <td>{{ act.capacity }}</td>
        <td>{{ act.start_date }}</td>
        <td>{{ act.end_date }}</td>
        <td>

        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td>无数据</td>
    </tr>
    {% endif %}
</tbody>
{% endblock %}